@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* ____________common styles____________  */
body {
  background: #f7f7f7;
}

a {
  font-size: 1.25rem;
}

h1 {
  color: #333;
}

.header-tag-color {
  color: #333;
}
